@import "../abstracts/variables";

.header{
    height: 80vh;
    background-image:
        linear-gradient(
            to right bottom,
            rgba($color-1, 0.5),
            rgba($color-3, 0.5)
        ), 
        url("../../img/charlota-blunarova-hmzKFGDeOV4-unsplash.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

    // clip-path: polygon(0 0, 100% 0, 100% 90, 0 100%);
    animation-name: moveInBottom;
    animation-duration: 1s;

    &__text-box{
        position: relative;
        top:40%;
        text-align: center;
    }
}
