@import "../abstracts/variables";

.header{
    height: 50vh;
    background-image:
        linear-gradient(
            to right bottom,
            rgba($color-1, 0.5),
            rgba($color-3, 0.5)
        ), 
        url("../../img/charlota-blunarova-hmzKFGDeOV4-unsplash.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

    // clip-path: polygon(0 0, 100% 0, 100% 90, 0 100%);
    animation-name: moveInBottom;
    animation-duration: 1s;

    &__text-box{
        position: relative;
        top:20%;
        text-align: center;
    }
}

.controller-shape{
    background-color: white;
    background-size: cover;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 62% 35%, 39% 35%, 0% 50%);
}