.feature-box{
    height:80vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    background-position: center;

    &::-webkit-scrollbar{
        display:none;
    }

    &--text-container{
        position: relative;
        height:100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--heading{
        background-color: $color-offwhite;
        width:100%;
        text-align: center;
        font-size:2rem;
        letter-spacing: 1px;
        line-height: 5rem;
    }

    &__bg::after{
        background-image: url("../../img/hannah-rodrigo-mf_3yZnC6ug-unsplash.jpg");
    }
}